h1{
    margin: 0px;
}
body {
   font-family: 'PT Sans', sans-serif;
   color:#bbbbbb;
}

.brief {
    font-size: 90px;
    text-align: center;
    color: #ff1a75;
    font-family: 'PT Sans', sans-serif;
}

.project-info-container {
    margin-top:120px;
}
.project-info-container .left {
    float:left;
    width:240px;
}
.project-info-container .left p {
    margin:0px;
    font-size:14px;
    color:#bbbbbb;
}
.project-info-container .right{
    float:right;
    width:880px;
}

.input-style {
    margin-bottom: 40px;
    display: inline-block;
    margin-right:87px;
}
.input-style label {
    display:block;
    margin-bottom:10px;
    color:#bbbbbb;
}

.input-style.full-width input {
    width:100%;
}
.input-style.full-width {
    display:block;
    margin-right:0px;
}

.input-style input {
    height:45px;
    border: 1px solid #bbbbbb;;
    font-size:30px;
    color:#bbbbbb;
    width:390px;
}

.project-info-container .right .input-style:nth-child(2), .project-info-container .right .input-style:nth-child(4) {
    margin-right: 0px;

}
.container{
    width: 1200px;
    margin:0px auto;
}
.clr {
    clear:both;
}
.services-container{
    margin-top: 200px;   
}
.services-container h1 {
    text-align: center;
    text-transform: uppercase;
    margin-bottom:65px;
}

.services-blocks {}

.three-Item-blocks{
   
}

.service-item {
    display: inline-block;
    width: 330px;
    min-height: 300px;
    margin-right:100px;
    margin-bottom: 40px;
    vertical-align: top;
}
.service-item:nth-child(3n) {
    margin-right:0px;
}

.service-item h2 {
    margin: 0px;
    text-align: center;
    color:white;
    padding: 15px 0px;
}
.service-item.silver h2 {
    background-color:#cecece;
}
.service-item.pink h2 {
    background-color:#ff1e8e;
}

.item-content {

}

.item-content ul {
    margin: 45px 0px 0px 0px;
    padding: 0px;
}
.item-content li {
    margin-bottom: 25px;
    list-style-type: none;
}

.item-content li p {
    margin: 0px;
    display: inline-block;
    width: 275px;
    padding-right: 30px;
    font-size:14px;
}

.planned-sector-container h1{
    text-align: center;
}

.planned-sector-input input{
    margin-top: 25px;
    width: 1198px;
    height:35px; 
}

.competition-level-meter{
    margin-top: 50px;
    margin-bottom: 25px;
    height: 220px;
    width: 1200px;
    border-style: solid;
    border-width: 1px;
}

.planned-sector-container .level-meter{
    padding-top: 75px;
    text-align: center;
    font-size: 90px;
    color:#ff1e8e;
    font-family: 'Poppins', sans-serif;
    height: 110px
}

.planned-sector-container .competition-level{
    text-align: center;
    font-size: 22px;
    font-family: 'Nixie One', cursive;

}


.competition-level-range p{
    display: inline;
    font-size: 18px;
     text-transform: uppercase;
}

.competition-level-range{
    width: 1215px;
}

.competition-level-range input {
    width: 1200px;
    font-size:30px;

}

.competition-level-range p:nth-child(2n) {
    margin-left: 1103px;
}

.activity-sector {
    margin-top: 50px;
    width: 1300px;

}


.activity-sector label input {
    display: none;
  
}

.activity-sector label {
    margin-top: 20px;
  
}



.activity-sector input + span {
    border: solid 1px black;
    padding: 5px 20px;
    display: inline-block;
    width: 288px;
    height: 75px;
    margin-right:100px;
}

.activity-sector input:checked + span {
    background-color: red;
}

.activity-sector input + span:nth-child(3n) {
    margin-right:0px;
}
.activity-sector span {
    font-size:30px;
    text-align: center;
}

.competition-level{
    margin-bottom: 20px;

}

.communication-channels{
     margin-top: 50px;
     width: 1300px;

}
.communication-channels label input {
    display: none;
  
}

.communication-channels label {
    margin-top: 20px;
  
}

.communication-channels input + span {
    border: solid 1px black;
    padding: 5px 20px;
    display: inline-block;
    width: 146px;
    height: 75px;
    margin-right:10px;
}

.communication-channels input:checked + span {
    background-color: red;
}
.communication-channels input + span:nth-child(3n) {
    margin-right:0px;
}
.communication-channels span {
    font-size:30px;
    text-align: center;
}






