h1{

    margin: 0px;
}



body {
   
}

.brief h1{
    font-size: 90px;
    text-align: center;
    color: #ff1a75;
    font-family: 'PT Sans', sans-serif;

}

.container{

    width: 60%;
    margin-right: auto;
    margin-left: auto;
}

.inputs {
    margin-left: 38%;
    color:#808080;
    font-family: 'Arvo', serif;
}

input[type=text]{
    border: 1px solid#b3b3b3;
}

.ProjectInput input{
     width: 100%;
     height: 40px;
     align-bottom: 50%;
     margin-bottom: 10px;
}

.inputStyle{
    height: 40px;
    width: 50%;

}

.firstInputPair{


}

.secondInputPair{

}

.servicesMenu{
    margin-top: 100px;   
    

}

.nameOfServicesMenu h1{
    color:#808080;
    font-family: 'PT Sans', sans-serif;
    text-align: center;
    margin-bottom: 80px;
}

.AllSixBlocks{
    margin-left: 75px;
    

}

.box{
    display: inline-block;
    width: 300px;
    height: 300px;
    margin: 10px;
    border: 3px solid #CCC;  

}

.boxName{
    background-color:#b3b3b3;
    height: 50px;
    
}

.boxName2{
    background-color:#ff1a75;
    height: 50px;
    
}

.boxName2 h1{
    padding-top: 15px;
    text-align: center;
    font-size: 16px;
    color:#ffffff;
    font-size: 18px;
    font-family: 'Ubuntu', sans-serif;
}


.boxName h1{
    padding-top: 15px;
    text-align: center;
    font-size: 16px;
    color:#ffffff;
    font-size: 18px;
    font-family: 'Ubuntu', sans-serif;
}


fieldset ol, fieldset ul {
    padding:0;
    list-style:none;
}

fieldset {
    text-align:left;
    border:none;
}

.textInBox p{
    width:200px;
    margin: 0px;
}

.checkboxInEnd{
    float:right;

}

.thePlannedSector{
    margin-top: 100px;
}

.NameOfPlannedSector{
    text-align: center;
    color:#808080;
    font-family: 'PT Sans', sans-serif;
    text-align: center;
    margin-bottom: 80px;

}

.ThePlannedSectorInput{
    width: 85%;
    height: 30px; 
    margin-left: 75px;
}



